# things to ignore in the main repo
.vscode
.DS_STore
*.png
*.json

# things to ignore in sub-folders
*/__pycache__
*/.DS_STore
*/.ipynb_checkpoints
*/*.png
*/*.json

# things to ignore in sub-sub-folders
*/*/__pycache__
*/*/.DS_STore
*/*/.ipynb_checkpoints
*/*/*.png
*/*/*.json

